<h3>Welcome</h3>
<form action="/recipes/search">
  <label>Search for Recipes</label>
  <input type="text" name="term"/>
  <input type="submit" value="Search"/>
</form>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<p><%= link_to 'Recipes:', recipes_path %> <%= Recipe.count %> listed</p>
