<div class="container">
  <div class="row">
    <h3>Recipes</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @recipes.each do |recipe| %>
            <tr>
              <%= render recipe %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
