<h3>Recipes</h3>
<%= link_to 'Post New Recipe', 'recipes/new' %>
<table class="table column">
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <%= render recipe %>
      </tr>
    <% end %>
  </tbody>
</table>
