<h3>Recipes</h3>
<%= link_to 'Post New Recipe', 'recipes/new' %>
<div class="column">
  <table class="table">
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <%= render recipe %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
