<h3>Search for Recipes</h3>
<form>
  <label>Search</label>
  <input type="text" name="term" value="<%= params[:term] %>" />
  <input type="submit" value="Search"/>
</form>
<table class="table column">
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <%= render recipe %>
      </tr>
    <% end %>
  </tbody>
</table>
