<% content_for :title do %>
  About
<% end %>
<h3>About Kitchen</h3>
<p>
This website was created by <%= link_to('Josh Hawkins', 'https://hawkins.is') %>
as a means of tracking simple recipes without having to read every food blogger's
life story just to get a shopping list.
</p>
